<a href="https://colab.research.google.com/github/nilberthsouza/Futebol-Data-Analise/blob/main/Analise_Times_Brasileir%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
full = pd.read_csv("https://raw.githubusercontent.com/nilberthsouza/Brasileirao_Dataset/master/campeonato-brasileiro-full.csv")
full.columns

Index(['Horário', 'Dia', 'Data', 'Clube 1', 'Clube 2', 'Vencedor', 'Rodada',
       'Arena', 'Clube 1 Gols', 'Clube 2 Gols', 'Clube 1 Estado',
       'Clube 2 Estado', 'Estado Clube Vencedor'],
      dtype='object')

In [6]:
full.head()

  Horário      Dia  ... Clube 2 Estado Estado Clube Vencedor
0   16h00   Sábado  ...             BA                    RJ
1   16h00   Sábado  ...             PE                    PE
2   16h00   Sábado  ...             SP                    ES
3   17h00  Domingo  ...             MG                Empate
4   18h30  Domingo  ...             RJ                Empate

[5 rows x 13 columns]

Vamos converter `full.Data` para formato de data

é nescessario juntar as repetições já que "São Paulo" e SÂO PAULO" são o mesmo time. O procedimento deverar ser aplicado nas colunas "CLUBE 1", "CLUBE 2" , "Vencedor"

primeiro vamos remover todos os acentos

In [9]:
from unicodedata import normalize

def remove_signs(txt):
  return normalize("NFKD",txt).encode('ASCII','ignore').decode('ASCII')

remove_signs("téêesT[[É")

'teeesT[[E'

agora vamos transformar todas os nomes de times em palavras em minusculo

In [12]:
def to_lower_case(txt):
  return txt.lower()

to_lower_case('teeesT[[E')

'teeest[[e'

Na coluna dia farei um enconding ordinal já que sábado tem acentos e é sempre bom evitar trabalhar com variaveis com acentos

In [ ]:
from category_encoders.ordinal import OrdinalEncoder

Subistuindo "-" por "Empate" na Coluna Vencedor

In [7]:
full.Vencedor.value_counts()

-                  2040
São Paulo           348
Cruzeiro            322
Santos              319
Grêmio              308
Internacional       302
Flamengo            298
Corinthians         293
Athlético-PR        291
Fluminense          288
Atlético-MG         282
Palmeiras           279
Vasco               216
Goiás               214
Botafogo-RJ         205
Coritiba            187
Vitória             152
Figueirense         151
Ponte Preta         149
Sport               127
Bahia               123
Paraná              104
São Caetano         103
Juventude            96
Chapecoense          69
Guarani              63
Avaí                 57
Portuguesa           57
Náutico              54
Fortaleza            51
Criciúma             50
Paysandu             50
Ceará                40
Atlético-GO          39
América-MG           38
Botafogo-rj          26
Santa Cruz           25
Gama                 21
Barueri              12
Santo André          11
Brasiliense          10
Ipatinga              9
CSA                   8
Joinville             7
Grêmio Prudente       7
SANTOS                6
Botafogo-SP           6
FLUMINENSE            4
VASCO                 4
CRUZEIRO              4
América-RN            4
CORINTHIANS           3
SPORT                 2
INTERNACIONAL         1
FLAMENGO              1
portuguesa            1
PALMEIRAS             1
PONTE PRETA           1
Name: Vencedor, dtype: int64